
extends layout

block content
  section.archive
    h2= page.metadata.category.toUpperCase()
    each item in env.helpers.getArticles(contents)
      if(item.metadata.category === page.metadata.category)
        li
          a(href=item.url)=item.title
