
extends layout

block content
    h2= page.metadata.category.toUpperCase()
    ul
      each item in env.helpers.getArticles(contents)
        if(item.metadata.category === page.metadata.category)
          li
            a(href=item.url style="width: 70%; float: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;")= item.title
            span(style="float: right;")= moment.utc(item.date).format('DD•MMMM•YYYY')
